html {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.3-C1lpyQ_tYW4nNSpPdBxwHaFj%26pid%3DApi&f=1");
    background-color: #cccccc;
    
    
}

body {
    width: auto;
    margin: 10px 15px 10px 15px;
    border: 5px solid rgb(0, 0, 0);
    height: auto;
    background-image: linear-gradient(to top, #deb887, #e99b36);
    padding: 0px 50px 20px 50px;
    background: rgba(222, 184, 135, .9);
    
    }
  }

h1 {
      padding: 0px 0px 0px 0px;
      font-weight: bolder;
      text-decoration: underline;

}

h2 {
      margin: 0px 0px 0px 0px;
}

h3 {
    margin: 10px 0px 0px 0px;
}

h4{
    
}

p, ul {
    line-height: 30px;
}


.giphy-1 {
    margin: 10px 50px 0px 15px;
    border-radius: 50%;
    position: relative;
    top: 20px; 
    opacity: 100;
    
}

.giphy-2 {
    opacity: 100;

}

.giphy-3 {
    position: relative;
    top: 40px;
    left: 0px;
    opacity: 100;
}

.apologyPrac {
    font-size: 18px;
    height: 25px;
    width: 125px;
}

img {
    border-radius: 50%;
}



